<!doctype html>
<html>
<head>
<title>Bob ROS remote control</title>
<script type="text/javascript" src="static/jquery.js"></script> 
</head>

<body>
<center> 
<script type="text/javascript" src="http://www.icegreen.com/wz_jsgraphics.js"></script><script type="text/javascript" src="http://www.icegreen.com/common.js"></script>
<div id="container" style="padding: 20px" onmouseout="mouseOut(event)"><div id="joystick" style="border: 1px solid black; padding: 0px; position: relative; width: 201px; height: 201px;" onmousemove="mouseMove(event);" onmousedown="mouseDown(event);" onmouseup="mouseUp(event);"></div></div>
<br/> 
<br/> 
<div id="msgarea">&nbsp;</div> 
<script type="text/javascript"> 
<!--
 
var joystick = new jsGraphics("joystick");	
drawCenter();

setInterval ( "update_now()", 20 );

var x = 100;
var y = 100;

function update_now() {
   jQuery.post("move_base", { x: x, y: y } );
}

function drawCenter() {
	joystick.setColor("#0000ff");
	joystick.fillEllipse(101,101,2,2);
	joystick.paint();
}
 
function mouseDown(e) {
  //nada for the moment
}
 
function mouseUp(e) {
  //nada for the moment
}
 
function mouseMove(e) {
   var msgarea = document.getElementById('msgarea');
   var ctrl = document.getElementById('joystick');
	
   x = -1;
   y = -1;
   if (!e) var e = window.event;
   if (e.pageX || e.pageY) {
      x = e.pageX - getXAbsolute(ctrl);
      y = e.pageY - getYAbsolute(ctrl);
   } else if (e.clientX || e.clientY) {
      x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft - getXAbsolute(ctrl);
      y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop - getYAbsolute(ctrl);
   }

   x = Math.max(Math.min(x, 200), 0);
   y = Math.max(Math.min(y, 200), 0);

   joystick.clear();
   drawCenter();
 
 
   joystick.setStroke(1);
   joystick.setColor("#0000ff");
   joystick.drawLine(x,0,x,201);
   joystick.drawLine(0,y,201,y);
   joystick.paint();
   msg_str = '(x='+(x)+', y='+(y)+')';
   msgarea.innerHTML = msg_str

   //jQuery.post("move_base", { x: x, y: y } );

   // request('/?x='+x+'&y='+y+'&n='+n,function (res){msgarea.innerHTML = res.responseText});
 
}
 
//-->
</script>
</center>

</body>
</html>
