<launch>
    <!-- launch file for hokuyo laser scanner -->

    <node pkg="hokuyo_node" type="hokuyo_node" name="base_laser" output="screen" >
        <param name="port" value="/dev/mitro/hokuyo"/>
        <param name="frame_id" value="base_laser"/>
        <param name="min_ang" value="-2.086213"/>
        <param name="max_ang" value="2.086213"/>
        <remap from="scan" to="base_scan"/>
    </node>
    
</launch>
