<launch>
    <!-- BNAIC demo launch on bob -->

    <!-- start minimal -->
    <include file="$(find mitro_bringup)/launch/minimal.launch" />
    
    <!-- start odom -->
    <include file="$(find mitro_odom)/launch/mitro_odom_kinect.launch" />
    
    <!-- start hokuyo -->
    <include file="$(find mitro_bringup)/launch/sensors/hokuyo.launch" />
    
    <!-- start assisted drive -->
    <include file="$(find assisted_drive)/launch/assisted_drive.launch" />
    
    <!-- start navigation -->
    <include file="$(find mitro_navigation)/launch/mitro_navigation.launch" />

</launch>
