<launch>
    <!-- launch basic nodes and sensors for mitro -->
    
    <!-- start basic nodes -->
    <include file="$(find mitro_bringup)/launch/minimal.launch" />
    
    <!-- start hokuyo -->
    <include file="$(find mitro_bringup)/launch/sensors/hokuyo.launch" />
    
    <!-- start kinect -->
    <include file="$(find mitro_kinect)/launch/mitro_kinect.launch" />

</launch>
