<launch>
    <!-- launch basic nodes for mitro -->
    
    <!-- load parameters -->
    <rosparam file="$(find mitro_description)/config/params.yaml" command="load" />
  
    <!-- load robot description -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find mitro_description)/urdf/mitro.urdf.xacro'" />
    
    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
    </node>



    <!-- launch base controller -->
    <include file="$(find mitro_base_controller)/launch/mitro_base_controller.launch" />

    <!-- launch system info publisher -->
    <include file="$(find mitro_diagnostics)/launch/sysinfo.launch" />
    
    <!-- launch twist mixer -->
    <include file="$(find twist_mixer)/launch/twist_mixer.launch" />
    
</launch>
