<launch>
    <!-- full launch file for MITRO -->

    <!-- start minimal -->
    <include file="$(find mitro_bringup)/launch/minimal.launch" />

    <!-- launch base controller -->
    <include file="$(find mitro_base_controller)/launch/mitro_base_controller.launch">
        <arg name="frame_id" value="odom_kinect" />
    </include>
    
    <!-- start hokuyo -->
    <include file="$(find mitro_bringup)/launch/sensors/hokuyo.launch" />

    <!-- start assisted drive -->
    <include file="$(find assisted_drive)/launch/assisted_drive.launch" />
    
    <!-- start navigation -->
    <include file="$(find mitro_navigation)/launch/mitro_navigation.launch" />
    
    <!-- start kinect -->
    <include file="$(find mitro_kinect)/launch/mitro_kinect.launch" />

    <!-- start ps3multicam -->
    <node pkg="mitro_teleop" type="ps3multicam.py" name="ps3_multicam" output="screen" />

</launch>
