<launch>
    <!-- launch file for navigation -->
    
    <!-- optional: specify map -->
    <arg name="map_name" default="map" />

    <!-- start map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find mitro_navigation)/maps/$(arg map_name).yaml" output="screen" />

    <!-- start amcl localization -->
    <include file="$(find mitro_navigation)/launch/amcl.launch" />

    <!-- start move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find mitro_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find mitro_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mitro_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find mitro_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find mitro_navigation)/config/base_local_planner_params.yaml" command="load" />
        <remap from="cmd_vel" to="cmd_twist_move_base"/>
    </node>

    <!-- start goal_planner -->
    <node pkg="mitro_navigation" type="goal_planner" name="goal_planner" output="screen"/>
    
</launch>
