<launch>
    <!-- launch file for keyboard teleoperation of mitro -->
    
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_keyboard" output="screen" >

        <param name="walk_vel" value="0.5" />
        <param name="run_vel" value="1" />
        <param name="yaw_rate" value="1.5" />
        <param name="yaw_run_rate" value="2.5" />
        <remap from="cmd_vel" to="cmd_twist_keyboard"/>
    </node>
    
</launch>
