<launch>

  <node pkg="joy" type="joy_node" name="ps3_joy_node" respawn="true">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <!-- standard PR2 teleop -->
  <node pkg="mitro_teleop" type="mitro_joy_node" name="mitro_joy_node" output="screen" args="--deadman_no_publish" >
    <rosparam file="$(find mitro_teleop)/config/teleop.yaml" command="load" />
    <remap from="cmd_vel" to="cmd_twist_ps3"/>
  </node>
    
</launch>        
