<launch>

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- start map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find tele_robot)/maps/map.yaml" output="screen"/>

  <!-- start odom -->
  <node pkg="tele_odom" type="tele_odom" name="odom_node"/>

  <!-- start hokuyo laser -->
  <node pkg="hokuyo_node" type="hokuyo_node" name="base_laser" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="frame_id" value="base_laser"/>
    <remap from="scan" to="base_scan"/>
  </node>

  <!-- start amcl localization -->
  <include file="$(find tele_robot)/launch/amcl_diff.launch"/> 

</launch>
