<launch>
    <!-- launch file for mitro base controller -->

    <!-- launch rosserial -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB0"/>
		<param name="baud" value="115200" />
    </node>  
    
    <!-- launch base controller -->
    <node pkg="mitro_base_controller" type="mitro_base_controller" name="mitro_base_controller" output="screen" >
        <remap from="cmd_twist" to="cmd_twist_mixed" />
    </node>

    <!-- initialize relais -->
    <node pkg="mitro_base_controller" type="init_relais.py" name="init_relais" output="screen" />
    
</launch>   
